        @charset "UTF-8";

        body {
            background-color: aliceblue;
            font-family: Arial, sans-serif;
            font-size: 20px;
        }
        h1 {
            color: #2a5f90;
        }
        h2 {
            color: #3c7a5b;
        }
        p {
            text-align: justify;
        }